<!-- ORDERS HEADER -->
<div
  class="sticky top-0 p-4 flex flex-row justify-between items-center bg-serapion-white font-thin z-10 dark:bg-serapion-black-200 dark:bg-opacity-95 bg-opacity-95"
>
  <div class="flex flex-row items-center justify-between space-x-4">
    <div
      class="hidden lg:flex flex-row items-center justify-center bg-serapion-blue-100 dark:bg-serapion-black-100 bg-opacity-90 w-12 h-12 rounded-full cursor-pointer"
      *ngIf="!!(isHidden$ | async)"
      (click)="openSidebar()"
    >
      <i
        class="fas fa-utensils fa-md text-serapion-grey-100 hover:text-serapion-grey-200 dark:hover:text-serapion-white transition-all duration-300"
      ></i>
    </div>
    <div>
      <div class="tracking-widest uppercase text-xl">Orders</div>
      <span class="text-sm font-thin text-serapion-grey-100"
        >Orders from you and your colleagues</span
      >
    </div>
  </div>

  <div
    class="group border-serapion-grey-100 border-opacity-25 p-3 rounded-lg flex flex-row justify-between space-x-3 items-center"
    *ngIf="user"
  >
    <img
      class="w-12 h-12 rounded-full"
      src="{{ user.photo }}"
      alt="{{ user!.firstName + ' ' + user!.lastName + ' Profile Picture' }}"
      title="{{ user!.firstName + ' ' + user!.lastName }}"
      referrerpolicy="no-referrer"
    />

    <div class="text-xs font-thin">
      <div
        class="font-semibold text-serapion-grey-200 dark:text-serapion-white"
      >
        {{ user.firstName + " " + user.lastName | titlecase }}
      </div>
      <div class="text-serapion-grey-100">
        {{ user.email }}
      </div>
      <div class="flex flex-row justify-between items-center pt-2">
        <a
          class="flex flex-row space-x-1 text-serapion-grey-100 hover:text-serapion-grey-200 items-center cursor-pointer dark:hover:text-serapion-white"
          (click)="logout()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-3 w-3"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
            />
          </svg>
          <span class="text-xs font-thin">Sign out</span>
        </a>
        <a
          class="text-serapion-grey-100 hover:text-serapion-grey-200 cursor-pointer dark:hover:text-serapion-white"
          (click)="changeTheme()"
        >
          <i class="fas fa-adjust"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- ORDERS HEADER END -->

<!-- ORDER CARDS -->
<app-order-list></app-order-list>
<!-- ORDERS CARDS END -->
