<!-- ORDERS HEADER -->
<div
  class="
    p-4
    flex flex-row
    justify-between
    items-center
    bg-serapion-white
    font-thin
    text-lg
    z-10
  "
>
  <span class="uppercase">Orders</span>

  <!-- <span class="text-serapion-grey-100 font-thin text-xs"
    >2021 &copy; Serapion</span
  > -->
</div>
<!-- ORDERS HEADER END -->

<!-- ORDERS HERO -->
<div class="hidden lg:flex orders-hero -z-50"></div>
<!-- ORDERS HERO END -->

<!-- ORDER CARDS -->
<app-order-list></app-order-list>
<!-- ORDERS CARDS END -->
