<!-- ADD ITEM -->
<div class="pt-4">
  <form
    class="relative text-serapion-grey-100 text-xs flex flex-col lg:flex-row items-center justify-between gap-2"
    [formGroup]="itemForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="flex-1 group w-full lg:w-2/4 mr-1">
      <div
        class="flex items-center rounded border border-serapion-grey-100 text-serapion-grey-200 dark:text-serapion-white"
      >
        <label
          for="item-{{ order?.id }}"
          class="w-6 text-right mr-4 text-serapion-grey-100 cursor-pointer"
        >
          <i class="fas fa-xs fa-hamburger"></i>
        </label>
        <input
          type="text"
          id="item-{{ order?.id }}"
          placeholder="e.g. Hamburger"
          autocomplete="off"
          name="item"
          formControlName="item"
          class="flex-1 p-2 pl-0 text-xs bg-transparent border-0 placeholder-serapion-grey-100 focus:ring-0"
          [ngClass]="{
            'cursor-not-allowed':
              order?.status === orderStatus.INACTIVE ||
              order?.status === orderStatus.LOCKED
          }"
          [attr.disabled]="
            order?.status === orderStatus.INACTIVE ||
            order?.status === orderStatus.LOCKED
              ? ''
              : null
          "
        />
      </div>
    </div>
    <div class="w-full py-2 lg:w-max lg:py-0">
      <button
        class="btn btn-primary w-full"
        [ngClass]="{
          'btn-primary':
            !itemForm.invalid && order?.status === orderStatus.ACTIVE,
          'btn-disabled':
            itemForm.invalid ||
            order?.status === orderStatus.INACTIVE ||
            order?.status === orderStatus.LOCKED
        }"
        [disabled]="
          itemForm.invalid ||
          order?.status === orderStatus.INACTIVE ||
          order?.status === orderStatus.LOCKED
        "
        type="submit"
      >
        <i class="fas fa-plus fa-xs pr-1"></i>
        Add
      </button>
    </div>
  </form>
</div>
<!-- ADD ITEM END -->

<!-- ITEMS -->
<div class="flex flex-col justify-between">
  <div
    class="pt-8 flex flex-row justify-between items-center"
    *ngFor="let item of items"
  >
    <div
      class="uppercase w-2/4 text-xs font-thin"
      title="{{ item.name | uppercase }}"
    >
      {{ item.name }}
    </div>
    <!-- item.name!.length < 25 ? item.name : (item.name | slice: 0:25) + "..." -->
    <div class="flex flex-row justify-between items-center flex-none ml-1">
      <!-- <div class="-space-x-2 ml-auto mr-1"> -->
      <div class="flex flex-none mr-3">
        <img
          class="relative z-20 inline object-cover w-5 h-5 border-2 border-serapion-white rounded-full dark:border-serapion-black-200"
          [src]="
            orderItem.user!.photo
              ? orderItem.user!.photo
              : '/assets/images/default-user.png'
          "
          (error)="img.src = '/assets/images/default-user.png'"
          alt="{{
            orderItem.user!.firstName +
              ' ' +
              orderItem.user!.lastName +
              ' Profile Picture'
          }}"
          title="{{
            orderItem.user!.firstName + ' ' + orderItem.user!.lastName
          }}"
          referrerpolicy="no-referrer"
          *ngFor="
            let orderItem of item.orderedItems!
              | uniqueFilter: updated
              | slice: 0:5
          "
          #img
        />
        <div
          class="w-5 h-5 rounded-full flex bg-serapion-grey-100 justify-center items-center object-cover border-2 border-serapion-white dark:border-serapion-black-200 has-tooltip cursor-pointer"
          *ngIf="item.orderedItems!.length > 5"
        >
          <span
            class="text-xs font-bold text-serapion-grey-200 select-none z-10"
          >
            {{
              item.orderedItems!.length - 5 < 10
                ? item.orderedItems!.length - 5
                : "+"
            }}
          </span>
          <div
            class="tooltip cursor-default rounded shadow-lg py-1 bg-serapion-white dark:bg-serapion-black-100 w-52 max-h-32 overflow-y-auto"
          >
            <div class="text-xs">
              <ul role="list" class="">
                <li
                  class="flex flex-row items-center px-2 py-4 first:pt-0 last:pb-0 cursor-pointer hover:bg-serapion-blue-100 dark:hover:bg-serapion-black-200"
                  *ngFor="
                    let orderItem of item.orderedItems!
                      | uniqueFilter: updated
                      | slice: 5
                  "
                >
                  <img
                    class="h-8 w-8 rounded-full"
                    [src]="
                      orderItem.user!.photo
                        ? orderItem.user!.photo
                        : '/assets/images/default-user.png'
                    "
                    (error)="img.src = '/assets/images/default-user.png'"
                    referrerpolicy="no-referrer"
                    #img
                  />
                  <div class="ml-3 overflow-hidden">
                    <p class="text-xs font-medium">
                      {{
                        orderItem.user!.firstName +
                          " " +
                          orderItem.user!.lastName
                      }}
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="flex uppercase text-xs font-semibold">
        <button
          (click)="removeItem(item)"
          [disabled]="
            order?.status === orderStatus.INACTIVE ||
            order?.status === orderStatus.LOCKED ||
            !haveThisItem(item)
          "
        >
          <i
            class="fas fa-angle-left fa-sm pr-1 cursor-pointer"
            [ngClass]="{}"
            [ngClass]="{
              'text-serapion-grey-100':
                !haveThisItem(item) ||
                order?.status === orderStatus.INACTIVE ||
                order?.status === orderStatus.LOCKED,
              'cursor-not-allowed':
                order?.status === orderStatus.INACTIVE ||
                order?.status === orderStatus.LOCKED
            }"
          ></i>
        </button>
        <span>{{ item.orderedItems!.length }}x</span>
        <button
          (click)="addItem(item)"
          [disabled]="
            order?.status === orderStatus.INACTIVE ||
            order?.status === orderStatus.LOCKED
          "
        >
          <i
            class="fas fa-angle-right fa-sm pl-1 cursor-pointer"
            [ngClass]="{
              'text-serapion-grey-100':
                order?.status === orderStatus.INACTIVE ||
                order?.status === orderStatus.LOCKED,
              'cursor-not-allowed':
                order?.status === orderStatus.INACTIVE ||
                order?.status === orderStatus.LOCKED
            }"
          ></i>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- ITEMS END -->
