<!-- ADD ITEM -->
<div class="pt-4">
  <form
    class="
      relative
      text-serapion-grey-100 text-xs
      flex flex-col
      lg:flex-row
      items-center
      justify-between
      gap-2
    "
  >
    <div class="group w-full lg:w-2/4">
      <span
        class="
          absolute
          top-1/2
          -mt-14
          lg:-mt-2
          group-focus-within:text-serapion-blue-300
        "
      >
        <i class="fas fa-pizza-slice"></i>
      </span>
      <input
        class="
          bg-serapion-white
          w-full
          pl-6
          py-2
          border-b border-serapion-grey-100
          focus:outline-none focus:border-serapion-blue-300
        "
        type="text"
        placeholder="e.g. Hamburger"
      />
    </div>
    <div class="group w-full lg:w-1/4">
      <span
        class="
          absolute
          top-1/2
          -mt-4
          lg:-mt-2
          group-focus-within:text-serapion-blue-300
        "
      >
        <i class="fas fa-sort-numeric-up-alt"></i>
      </span>
      <input
        class="
          bg-serapion-white
          w-full
          pl-6
          py-2
          border-b border-serapion-grey-100
          focus:outline-none focus:border-serapion-blue-300
        "
        type="number"
        min="1"
        placeholder="e.g. 1"
      />
    </div>
    <div class="w-full py-2 lg:w-max lg:py-0">
      <button class="btn btn-primary w-full">
        <i class="fas fa-plus fa-xs pr-1"></i>
        Add
      </button>
    </div>
  </form>
</div>
<!-- ADD ITEM END -->

<!-- ITEMS -->
<div class="flex flex-col justify-between">
  <div class="pt-4 flex flex-row justify-between items-center">
    <div class="uppercase text-xs font-thin">Pasta</div>
    <div class="-space-x-2 ml-auto mr-1">
      <img
        class="
          relative
          z-30
          inline
          object-cover
          w-6
          h-6
          border-2 border-serapion-white
          rounded-full
        "
        src="../assets/images/avatar.jfif"
        alt="Profile Image"
      />
      <img
        class="
          relative
          z-20
          inline
          object-cover
          w-6
          h-6
          border-2 border-serapion-white
          rounded-full
        "
        src="../assets/images/avatar.jfif"
        alt="Profile Image"
      />
      <img
        class="
          relative
          z-10
          inline
          object-cover
          w-6
          h-6
          border-2 border-serapion-white
          rounded-full
        "
        src="../assets/images/avatar.jfif"
        alt="Profile Image"
      />
    </div>
    <div class="uppercase text-xs font-semibold">
      <i class="fas fa-angle-left fa-sm pr-1 cursor-pointer"></i>
      <span>3x</span>
      <i class="fas fa-angle-right fa-sm pl-1 cursor-pointer"></i>
    </div>
  </div>
  <div class="pt-4 flex flex-row justify-between items-center">
    <div class="uppercase text-xs font-thin">Pizza</div>
    <div class="-space-x-2 ml-auto mr-1">
      <img
        class="
          relative
          z-30
          inline
          object-cover
          w-6
          h-6
          border-2 border-serapion-white
          rounded-full
        "
        src="../assets/images/avatar.jfif"
        alt="Profile Image"
      />
      <img
        class="
          relative
          z-20
          inline
          object-cover
          w-6
          h-6
          border-2 border-serapion-white
          rounded-full
        "
        src="../assets/images/avatar.jfif"
        alt="Profile Image"
      />
      <img
        class="
          relative
          z-10
          inline
          object-cover
          w-6
          h-6
          border-2 border-serapion-white
          rounded-full
        "
        src="../assets/images/avatar.jfif"
        alt="Profile Image"
      />
    </div>

    <div class="uppercase text-xs font-semibold">
      <i class="fas fa-angle-left fa-sm pr-1 cursor-pointer"></i>
      <span>3x</span>
      <i class="fas fa-angle-right fa-sm pl-1 cursor-pointer"></i>
    </div>
  </div>
  <div class="pt-4 flex flex-row justify-between items-center">
    <div class="uppercase text-xs font-thin">Quesadilla</div>
    <div class="-space-x-2 ml-auto mr-1">
      <img
        class="
          relative
          z-30
          inline
          object-cover
          w-6
          h-6
          border-2 border-serapion-white
          rounded-full
        "
        src="../assets/images/avatar.jfif"
        alt="Profile Image"
      />
      <img
        class="
          relative
          z-20
          inline
          object-cover
          w-6
          h-6
          border-2 border-serapion-white
          rounded-full
        "
        src="../assets/images/avatar.jfif"
        alt="Profile Image"
      />
      <img
        class="
          relative
          z-10
          inline
          object-cover
          w-6
          h-6
          border-2 border-serapion-white
          rounded-full
        "
        src="../assets/images/avatar.jfif"
        alt="Profile Image"
      />
    </div>
    <div class="uppercase text-xs font-semibold">
      <i class="fas fa-angle-left fa-sm pr-1 cursor-pointer"></i>
      <span>3x</span>
      <i class="fas fa-angle-right fa-sm pl-1 cursor-pointer"></i>
    </div>
  </div>
  <div class="pt-4 flex flex-row justify-between items-center">
    <div class="uppercase text-xs font-thin">Enchilada</div>
    <div class="-space-x-2 ml-auto mr-1">
      <img
        class="
          relative
          z-30
          inline
          object-cover
          w-6
          h-6
          border-2 border-serapion-white
          rounded-full
        "
        src="../assets/images/avatar.jfif"
        alt="Profile Image"
      />
      <img
        class="
          relative
          z-20
          inline
          object-cover
          w-6
          h-6
          border-2 border-serapion-white
          rounded-full
        "
        src="../assets/images/avatar.jfif"
        alt="Profile Image"
      />
      <img
        class="
          relative
          z-10
          inline
          object-cover
          w-6
          h-6
          border-2 border-serapion-white
          rounded-full
        "
        src="../assets/images/avatar.jfif"
        alt="Profile Image"
      />
    </div>
    <div class="uppercase text-xs font-semibold">
      <i class="fas fa-angle-left fa-sm pr-1 cursor-pointer"></i>
      <span>3x</span>
      <i class="fas fa-angle-right fa-sm pl-1 cursor-pointer"></i>
    </div>
  </div>
  <div class="pt-4 flex flex-row justify-between items-center">
    <div class="uppercase text-xs font-thin">Fajitas</div>
    <div class="-space-x-2 ml-auto mr-1">
      <img
        class="
          relative
          z-30
          inline
          object-cover
          w-6
          h-6
          border-2 border-serapion-white
          rounded-full
        "
        src="../assets/images/avatar.jfif"
        alt="Profile Image"
      />
      <img
        class="
          relative
          z-20
          inline
          object-cover
          w-6
          h-6
          border-2 border-serapion-white
          rounded-full
        "
        src="../assets/images/avatar.jfif"
        alt="Profile Image"
      />
      <img
        class="
          relative
          z-10
          inline
          object-cover
          w-6
          h-6
          border-2 border-serapion-white
          rounded-full
        "
        src="../assets/images/avatar.jfif"
        alt="Profile Image"
      />
    </div>
    <div class="uppercase text-xs font-semibold">
      <i class="fas fa-angle-left fa-sm pr-1 cursor-pointer"></i>
      <span>3x</span>
      <i class="fas fa-angle-right fa-sm pl-1 cursor-pointer"></i>
    </div>
  </div>
</div>
<!-- ITEMS END -->
