<div class="p-4 grid grid-cols-3 gap-2 lg:grid-cols-2 lg:gap-4 z-10 -mt-80">
  <a class="cursor-pointer z-10">
    <div
      class="
        px-2
        py-4
        bg-serapion-white
        rounded-md
        transition
        duration-300
        hover:bg-serapion-blue-300 hover:text-serapion-white
      "
    >
      <div class="flex flex-row justify-between items-center text-sm font-thin">
        <span class="uppercase">Barok</span>
      </div>
      <strong class="text-xs font-semibold">+38762225883</strong>
      <p class="text-xs text-serapion-grey-100">Delivery</p>
    </div>
  </a>
</div>
