<div class="p-4 grid grid-cols-3 gap-2 lg:grid-cols-2 lg:gap-4 z-10 lg:-mt-80">
  <a class="cursor-pointer z-10" *ngFor="let place of places">
    <div
      class="px-2 py-4 bg-serapion-white rounded-md transition duration-300 hover:bg-serapion-blue-300 hover:text-serapion-white"
    >
      <div
        class="flex flex-row justify-between items-center text-sm font-thin"
        (click)="openRestaurant(place.name)"
      >
        <span class="uppercase">{{ place.name }}</span>
      </div>

      <strong class="text-xs font-semibold">{{ place.phoneNumber }}</strong>

      <div class="flex pt-4 space-x-2 justify-center">
        <button
          class="btn btn-card flex-1"
          (click)="editRestaurant(place.name)"
        >
          <i class="far fa-sm fa-edit pr-1"></i> Edit
        </button>
        <button
          class="btn btn-card flex-1"
          (click)="openRestaurant(place.name)"
        >
          <i class="fas fa-sm fa-external-link-alt pr-1"></i> Open
        </button>
      </div>
    </div>
  </a>
</div>
