<div class="p-4 grid grid-cols-3 gap-2 lg:grid-cols-2 lg:gap-4 z-10 lg:-mt-80">
  <a
    class="cursor-pointer z-10"
    *ngFor="let place of places | filter: filterStr:updated"
  >
    <div
      class="px-2 py-4 bg-serapion-white rounded-md transform hover:-translate-y-1 lg:hover:shadow-lg transition-all duration-300"
    >
      <div class="flex flex-row justify-between items-center text-sm font-thin">
        <span class="uppercase flex-1">{{ place.name }}</span>
        <button class="btn btn-secondary" (click)="deletePlace(place.name)">
          <i class="fas fa-sm fa-trash pr-1"></i> Delete
        </button>
      </div>

      <strong class="text-xs font-semibold">{{
        place.phoneNumber ? place.phoneNumber : "No phone number"
      }}</strong>

      <div class="flex pt-4 space-x-2 justify-center">
        <button
          class="btn btn-warn flex-1"
          (click)="editRestaurant(place.name)"
        >
          <i class="far fa-sm fa-edit pr-1"></i> Edit
        </button>
        <button class="btn btn-primary flex-1" (click)="openRestaurant(place)">
          <i class="fas fa-sm fa-external-link-alt pr-1"></i> Open
        </button>
      </div>
    </div>
  </a>
</div>
