<div
  class="min-h-screen p-4 z-10 lg:pt-8 2xl:pt-8 rounded-t-xl bg-serapion-blue-300 bg-opacity-50 shadow-md dark:bg-serapion-black-100"
>
  <div class="grid grid-cols-2 gap-2 lg:grid-cols-2 lg:gap-4">
    <div *ngFor="let place of places | filter: filterStr:updated">
      <!-- (click)="togglePlace(place.id)" -->
      <div
        class="border-serapion-blue-300 px-2 py-4 bg-serapion-white rounded-md lg:transform lg:hover:scale-102 lg:hover:shadow-lg transition-all duration-300 dark:bg-serapion-black-200"
      >
        <div
          class="flex flex-row justify-between items-center text-sm font-thin"
        >
          <!-- {{ place.name }} -->
          <div
            (click)="togglePlace(place.id)"
            class="uppercase flex-1 mr-2 cursor-pointer"
            title="{{ place.name | uppercase }}"
            [ngClass]="{
              'line-through': hasActiveOrders(place)
            }"
          >
            {{
              place.name.length > 20
                ? (place.name | slice: 0:20) + "..."
                : place.name
            }}
          </div>
          <div
            class="flex flex-row space-x-2 text-serapion-grey-100 2xl:space-x-3 mr-1"
          >
            <button
              (click)="editRestaurant(place.id!)"
              [ngClass]="{
                'cursor-not-allowed': hasActiveOrders(place),
                'opacity-25': hasActiveOrders(place)
              }"
              [disabled]="hasActiveOrders(place)"
            >
              <i
                class="fas fa-sm fa-edit transition-all duration-300"
                [ngClass]="{
                  'hover:text-serapion-purple': !hasActiveOrders(place)
                }"
              ></i>
            </button>
            <button
              (click)="deletePlace(place.name)"
              [ngClass]="{
                'cursor-not-allowed': hasActiveOrders(place),
                'opacity-25': hasActiveOrders(place)
              }"
              [disabled]="hasActiveOrders(place)"
            >
              <i
                class="fas fa-sm fa-trash transition-all duration-300"
                [ngClass]="{
                  'hover:text-serapion-grey-200 dark:hover:text-serapion-white':
                    !hasActiveOrders(place)
                }"
              ></i>
            </button>
            <button (click)="togglePlace(place.id)">
              <i
                class="fas fa-sm fa-compress-alt transition-all duration-300"
                [ngClass]="{
                  'hover:text-serapion-grey-200 dark:hover:text-serapion-white': true
                }"
              ></i>
            </button>
          </div>
        </div>

        <div
          class="flex flex-col flex-1 pt-4 space-y-2 text-xs"
          *ngIf="isExpanded((this.collapsedPlaces$ | async) || [], place.id)"
        >
          <p
            class="uppercase pt-4 border-t border-opacity-25 border-serapion-grey-100 border-dashed"
          >
            Details
          </p>
          <div class="pt-2 flex flex-row justify-start items-center space-x-2">
            <i class="fas fa-xs fa-phone pr-1"></i>
            <p>
              {{
                place.phoneNumber
                  ? place.phoneNumber
                  : "Phone info not available"
              }}
            </p>
          </div>

          <div class="flex flex-row justify-start items-center space-x-2">
            <i class="fas fa-xs fa-map-marked pr-1"></i>
            <a
              class="flex-1 flex flex-row items-center justify-between text-serapion-grey-200 cursor-pointer dark:text-serapion-grey-100 hover:text-serapion-grey-100 dark:hover:text-serapion-white"
              [href]="place.menu"
              target="_blank"
              *ngIf="place.menu; else noMenuContent"
            >
              Check out restaurant menu
            </a>
            <ng-template #noMenuContent>
              <p>Menu info not available</p>
            </ng-template>
          </div>
        </div>

        <div
          class="flex pt-8 space-x-2 justify-center"
          *ngIf="isExpanded((this.collapsedPlaces$ | async) || [], place.id)"
        >
          <button
            class="btn flex-1 mt-2"
            (click)="openRestaurant(place)"
            [ngClass]="{
              'btn-disabled': hasActiveOrders(place),
              'btn-primary': !hasActiveOrders(place),
              'cursor-not-allowed': hasActiveOrders(place)
            }"
            [disabled]="hasActiveOrders(place)"
          >
            <i class="fas fa-sm fa-external-link-alt pr-1"></i> Open
          </button>
        </div>
      </div>
      <app-modal id="delete-{{ place.name }}" #deleteDialog>
        <div class="uppercase font-thin text-lg">
          Are you sure you want to delete {{ place.name }}?
        </div>
        <!-- <div class="flex flex-row justify-center items-center my-6">
        <img
          class="w-1/2"
          src="../../../../../../assets/images/closed-store.svg"
        />
      </div> -->
      </app-modal>
    </div>
  </div>
</div>
