<div class="lg:-mt-80 p-4 grid grid-cols-1 gap-2 lg:grid-cols-2 lg:gap-4 z-10">
  <!-- ORDER -->
  <div
    class="card flex flex-col z-10 justify-between"
    *ngFor="let order of orders"
  >
    <!-- CARD HEADER -->
    <div class="flex flex-row items-center justify-items-center z-10">
      <div class="flex-1">
        <h1 class="font-thin uppercase">
          {{ order.restaurant.name }}
        </h1>
        <p class="text-xs text-serapion-blue-300">
          {{ order.user.firstName + " " + order.user.lastName | titlecase }}
        </p>
        <strong class="text-xs font-semibold">{{
          order.restaurant.phoneNumber
        }}</strong>
        <p class="text-xs text-serapion-grey-100">{{ order.type }}</p>
      </div>
      <a
        class="btn btn-secondary"
        href="{{ order.restaurant.menu }}"
        target="_blank"
      >
        <i class="fas fa-globe fa-xs pr-1"></i> Visit
      </a>
    </div>
    <!-- CARD HEADER END -->

    <!-- ORDER ITEMS -->
    <app-order-items [orderId]="order.id"></app-order-items>
    <!-- ORDER ITEMS END -->

    <!-- ORDER COMMENTS -->
    <app-order-chat [order]="order"></app-order-chat>
    <!-- ORDER COMMENTS END -->

    <!-- SUBMIT BUTTONS -->
    <div class="flex-grow pt-8 flex flex-row-reverse justify-end items-center">
      <button class="btn btn-primary w-1/2 ml-1">
        <i class="fas fa-check pr-1"></i> Confirm
      </button>
      <button
        class="btn btn-secondary w-1/2"
        (click)="closeRestaurant(order.restaurant.id)"
      >
        <i class="fas fa-times pr-1"></i> Close
      </button>
    </div>
    <!-- SUBMIT BUTTONS END -->
  </div>

  <!--ORDER END -->
</div>
