<div
  class="overflow-orders p-4 lg:pt-8 grid grid-cols-1 gap-2 lg:grid-cols-2 2xl:grid-cols-3 lg:gap-4 z-10 2xl:pt-12 bg-serapion-blue-200 bg-opacity-5 bg-hero bg-cover bg-no-repeat dark:bg-opacity-95 bg-blend-lighten shadow-md dark:bg-serapion-black-100"
  [ngClass]="{ 'lg:grid-cols-3 2xl:grid-cols-4': isSidebarCollapsed() }"
>
  <!-- ORDER -->
  <div *ngFor="let order of orders; let i = index" class="place-self-strech">
    <div
      class="rounded-md bg-serapion-white p-4 z-10 lg:transform{{
        order.status === orderStatus.ACTIVE
          ? 'border-serapion-green'
          : 'border-serapion-purple'
      }} border-t-0 lg:hover:scale-102 dark:bg-serapion-black-200"
    >
      <!-- CARD HEADER -->
      <div class="flex flex-row items-start justify-items-between z-10">
        <div class="flex-1">
          <div
            class="text-xs flex flex-row justify-between items-center space-x-6 w-full py-1 px-1 rounded-md bg-serapion-blue-100 dark:bg-serapion-black-100"
          >
            <div
              class="{{
                order.status === orderStatus.ACTIVE
                  ? 'bg-serapion-green'
                  : 'bg-serapion-purple'
              }}
              rounded-md px-6 py-1 font-normal tracking-widest uppercase text-serapion-grey-200"
            >
              {{ order.status === orderStatus.ACTIVE ? "active" : "finished" }}
            </div>
            <a
              class="group flex-1 flex flex-row items-center justify-between text-serapion-grey-200 cursor-pointer dark:text-serapion-grey-100"
              [href]="order.restaurant.menu"
              target="_blank"
              *ngIf="order.restaurant.menu"
            >
              <span
                class="group-hover:text-serapion-grey-100 dark:group-hover:text-serapion-white transition-all"
                >Check out restaurant menu</span
              >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4 group-hover:text-serapion-grey-100 dark:group-hover:text-serapion-white transition-all"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
          </div>
          <div class="flex flex-row space-x-2 items-center mt-4">
            <i class="fas fa-store pr-1"></i>
            <span class="font-thin uppercase text-lg select-all">
              {{ order.restaurant.name }}
            </span>
          </div>
          <div
            class="pt-4 flex flex-row space-x-2 justify-between items-center text-xs text-serapion-grey-200 dark:text-serapion-white"
          >
            <i class="fas fa-xs fa-phone pr-1"></i>
            <p class="flex-1">
              {{
                order.restaurant.phoneNumber
                  ? order.restaurant.phoneNumber
                  : "Phone info not available"
              }}
            </p>
          </div>
          <div
            class="pt-2 flex flex-row space-x-2 justify-between items-center text-xs text-serapion-grey-200 dark:text-serapion-grey-100"
            *ngIf="order?.status !== orderStatus.INACTIVE"
          >
            <i class="fas fa-xs fa-user pr-1"></i>
            <p class="flex-1">
              {{ getOwnerFullName(order) | titlecase }} has opened the order @{{
                order.openedAt | date: "shortTime"
              }}
            </p>
          </div>
          <div
            class="pt-2 flex flex-row space-x-2 justify-between items-center text-xs text-serapion-green font-normal"
            *ngIf="order.orderer && order?.status === orderStatus.ACTIVE"
          >
            <i class="fas fa-xs fa-car pr-1"></i>
            <p class="flex-1">
              {{
                isOrderOrderer(order)
                  ? "You are "
                  : (order.orderer.firstName + " " + order.orderer.lastName
                      | titlecase) + " is"
              }}
              due to make the order
            </p>
          </div>
          <div
            class="text-xs uppercase text-serapion-grey-200 dark:text-serapion-grey-100"
          >
            <form
              *ngIf="
                isOrderOwner(order) && order?.status === orderStatus.ACTIVE
              "
              (change)="onOrderTypeChange(order)"
              [formGroup]="ordersForm!"
            >
              <div formArrayName="orders">
                <div [formGroupName]="i">
                  <div class="flex p-2 pt-3 pl-0 items-center">
                    <input
                      id="{{ orderType.DELIVERY + '-' + i }}"
                      type="radio"
                      value="{{ orderType.DELIVERY }}"
                      name="orderType"
                      formControlName="orderType"
                      class="w-3 h-3 text-serapion-blue-300 focus:text-serapion-blue-300 focus:ring-serapion-blue-300 mr-2 cursor-pointer"
                    />
                    <label
                      for="{{ orderType.DELIVERY + '-' + i }}"
                      class="cursor-pointer"
                    >
                      {{ orderType.DELIVERY }}</label
                    >
                  </div>
                  <div class="flex p-2 pl-0 pt-0 items-center">
                    <input
                      id="{{ orderType.TAKEAWAY + '-' + i }}"
                      type="radio"
                      value="{{ orderType.TAKEAWAY }}"
                      name="orderType"
                      formControlName="orderType"
                      class="w-3 h-3 text-serapion-blue-300 focus:text-serapion-blue-300 focus:ring-serapion-blue-300 mr-2 cursor-pointer"
                    />
                    <label
                      for="{{ orderType.TAKEAWAY + '-' + i }}"
                      class="cursor-pointer"
                    >
                      {{ orderType.TAKEAWAY }}</label
                    >
                  </div>
                </div>
              </div>
            </form>
            <div
              class="py-2 flex flex-row space-x-2 justify-between items-center text-xs font-thin text-serapion-grey-200 dark:text-serapion-grey-100"
              *ngIf="
                !isOrderOwner(order) || order?.status === orderStatus.INACTIVE
              "
            >
              <i class="fas fa-xs fa-hashtag pr-1"></i>
              <p class="flex-1">
                {{ order.type }}
              </p>
            </div>
          </div>
          <!-- *ngIf="order?.status === orderStatus.INACTIVE" -->
          <div
            class="py-2 pt-0 flex flex-row space-x-2 justify-between items-center text-xs font-normal text-serapion-purple"
            *ngIf="order?.status === orderStatus.INACTIVE && order.arrivalTime"
          >
            <button
              class="hover:text-serapion-yellow"
              title="Food Arrived {{ order?.restaurant?.name }}"
              (click)="sendArrivedCall(order)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-3 w-3 animate-wiggle"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"
                />
              </svg>
            </button>
            <p class="flex-1">
              {{
                (order?.type === orderType.DELIVERY
                  ? "Arrives at "
                  : "Departure at ") + (order?.arrivalTime | date: "shortTime")
              }}
            </p>
          </div>
        </div>
      </div>
      <!-- CARD HEADER END -->

      <!-- ORDER ITEMS -->
      <app-order-items [order]="order" #orderItems></app-order-items>
      <!-- ORDER ITEMS END -->

      <!-- ORDER COMMENTS -->
      <app-order-chat [order]="order"></app-order-chat>
      <!-- ORDER COMMENTS END -->

      <!-- SOMETHING -->
      <div
        class="mt-8 py-4 border-t border-opacity-25 border-serapion-grey-100 border-dashed"
        *ngIf="isOrderOrderer(order) && order?.status === orderStatus.ACTIVE"
      >
        <div class="flex flex-row items-center justify-between">
          <span
            class="flex-1 text-xs font-thin uppercase text-serapion-grey-100"
            >Details</span
          >

          <button
            class="text-serapion-grey-100 hover:text-serapion-yellow"
            title="Last call {{ order?.restaurant?.name }}"
            (click)="sendLastCall(order)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4 animate-wiggle"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"
              />
            </svg>
          </button>
        </div>
        <p class="text-xs text-serapion-grey-100 mt-2">
          <span class="font-semibold">{{ order.orderer?.firstName }}</span
          >, you have to finish this order, add arrival time!
        </p>
        <div class="flex flex-row justify-between items-center space-x-6 mt-2">
          <div
            class="relative flex-1 mt-2 flex items-center rounded border border-serapion-grey-100 text-serapion-grey-200 dark:text-serapion-white"
          >
            <label
              for="order-time-{{ order?.id }}"
              class="w-6 text-right mr-4 text-serapion-grey-100 cursor-pointer"
            >
              <i class="fas fa-xs fa-clock"></i>
            </label>
            <input
              type="time"
              id="order-time-{{ order?.id }}"
              [formControl]="$any(orderArrivalArr.at(i))"
              name="orderArrivalTime"
              autocomplete="off"
              class="flex-1 p-2 pl-0 text-xs bg-transparent border-0 placeholder-serapion-grey-100 focus:ring-0"
              [attr.disabled]="
                order?.status === orderStatus.INACTIVE ? '' : null
              "
            />
          </div>
        </div>
      </div>
      <!-- SOMETHING END -->
      <!-- SUBMIT BUTTONS -->
      <div
        class="flex-grow pt-8 flex flex-row-reverse justify-end items-center"
      >
        <button
          class="btn flex-1 ml-1"
          *ngIf="order.status === orderStatus.ACTIVE"
          [ngClass]="{
            'btn-primary':
              isOrderOrderer(order) &&
              order.status === orderStatus.ACTIVE &&
              !orderArrivalArr.at(i).invalid,
            'btn-disabled': orderArrivalArr.at(i).invalid
          }"
          [disabled]="orderArrivalArr.at(i).invalid"
          (click)="confirmOrder(order)"
        >
          <i class="fas fa-check pr-1"></i> Order
        </button>
        <button
          *ngIf="isOrderOwner(order) || order.status === orderStatus.INACTIVE"
          class="btn flex-1"
          [ngClass]="{
            'btn-secondary':
              isOrderOwner(order) || order.status === orderStatus.INACTIVE,
            'btn-disabled':
              !isOrderOwner(order) && order.status === orderStatus.ACTIVE
          }"
          [disabled]="
            !isOrderOwner(order) && order.status === orderStatus.ACTIVE
          "
          (click)="closeRestaurant(order)"
        >
          <i class="fas fa-times pr-1"></i> Close
        </button>
      </div>
      <!-- SUBMIT BUTTONS END -->
    </div>

    <app-modal id="cancel-{{ order.id }}" #cancelDialog>
      <div class="uppercase font-thin text-lg">
        Are you sure you want to close {{ order.restaurant.name }}?
      </div>
      <!-- <div class="flex flex-row justify-center items-center my-6">
        <img
          class="w-1/2"
          src="../../../../../../assets/images/closed-store.svg"
        />
      </div> -->
    </app-modal>

    <app-modal id="confirm-{{ order.id }}" #confirmDialog>
      <div class="uppercase font-thin text-lg">
        Are you sure you want to confirm {{ order.restaurant.name }}?
      </div>
      <div class="mt-4">
        <ul
          role="list"
          class="divide-y divide-serapion-grey-100 text-xs text-serapion-grey-100"
        >
          <li
            class="flex flex-row justify-between items-center py-4 first:pt-0 last:pb-0"
            *ngFor="let item of order.orderItems"
          >
            <div class="uppercase">{{ item.name }}</div>
            <div class="">
              <p class="text-sm text-slate-500 truncate">
                {{ item.orderedItems?.length }}x
              </p>
            </div>
          </li>
        </ul>
      </div>
    </app-modal>
  </div>
  <!--ORDER END -->
</div>
