<!-- ORDERS HEADER -->
<div
  class="
    p-4
    flex flex-row
    justify-between
    items-center
    bg-serapion-white
    uppercase
    font-thin
    text-lg
    z-10
  "
>
  <span>Orders</span>
</div>
<!-- ORDERS HEADER END -->

<!-- ORDERS HERO -->
<div class="hidden lg:flex orders-hero -z-50"></div>
<!-- ORDERS HERO END -->

<!-- ORDER CARDS -->
<app-order-list></app-order-list>
<!-- ORDERS CARDS END -->

<!-- ORDERS FOOTER -->
<div
  class="
    absolute
    right-0
    bottom-0
    p-4
    flex flex-row
    justify-end
    items-end
    font-thin
    text-xs
  "
>
  <span>2021 &copy; Serapion</span>
</div>
<!-- ORDERS FOOTER END -->
