<!-- PLACES HEADER -->
<!-- Delivery & takeout from the best local restaurants -->
<div
  class="sticky top-0 z-40 bg-serapion-white dark:bg-serapion-black-200 dark:bg-opacity-95 bg-opacity-95"
>
  <div class="flex flex-row items-center p-4 z-50">
    <div class="flex-1">
      <div class="uppercase font-thin text-xl tracking-widest">Restaurants</div>
      <div class="text-sm text-serapion-grey-100 font-thin">
        Choose from local restaurants
      </div>
    </div>
    <div class="flex flex-row space-x-2 justify-between items-center">
      <div class="btn btn-primary mr-2" (click)="openPlacesDialog()">
        <i class="fas fa-plus fa-xs pr-1"></i>
        New
      </div>

      <div
        class="hidden shadow-md lg:flex flex-row items-center justify-center bg-serapion-blue-100 dark:bg-serapion-black-100 bg-opacity-50 w-12 h-12 rounded-full cursor-pointer"
        (click)="hideSidebar()"
      >
        <i
          class="fas fa-compress-alt fa-md text-serapion-grey-100 hover:text-serapion-grey-200 dark:hover:text-serapion-white transition-all duration-300"
        ></i>
      </div>
    </div>
  </div>
  <!-- PLACES HEADER END -->

  <!-- PLACES FILTER -->
  <div class="pb-6 px-4 z-50">
    <form>
      <div
        class="flex items-center rounded border border-serapion-grey-100 text-serapion-grey-200 dark:text-serapion-white"
      >
        <label for="filter" class="w-8 text-right mr-4 text-serapion-grey-100">
          <i class="fas fa-xs fa-search"></i>
        </label>
        <input
          type="text"
          id="filter"
          placeholder="Restaurant name..."
          autocomplete="off"
          name="filter"
          [(ngModel)]="filterInput"
          class="flex-1 p-2 pl-0 text-xs bg-transparent border-0 placeholder-serapion-grey-100 focus:ring-0"
        />
      </div>
    </form>
  </div>
  <!-- PLACES FILTER END -->
</div>

<!-- PLACES -->
<app-place-list [filterStr]="filterInput"></app-place-list>
<!-- PLACES END -->

<app-place-modal></app-place-modal>
