<!-- WRAPPER -->
<div
  class="flex flex-1 flex-col w-screen lg:flex-row lg:h-screen justify-center text-base overflow-hidden"
>
  <!-- PLACES -->
  <div
    class="flex-auto lg:w-1/3 bg-serapion-blue-100 flex flex-col overflow-x-hidden lg:overflow-y-scroll"
  >
    <app-places></app-places>
  </div>
  <!-- PLACES END -->

  <!-- ORDERS -->
  <div
    class="flex-auto lg:w-2/3 bg-serapion-blue-100 flex flex-col overflow-x-hidden lg:overflow-y-scroll"
  >
    <app-orders></app-orders>
  </div>
  <!-- ORDERS END -->
</div>
<!-- WRAPPER END -->
