<!-- WRAPPER -->
<div
  class="flex flex-1 flex-col w-screen lg:flex-row lg:h-screen justify-center text-base overflow-hidden"
>
  <!-- PLACES -->
  <div
    class="flex-auto lg:w-1/3 bg-serapion-white flex flex-col overflow-x-hidden overflow-y-auto transition-all duration-300 dark:bg-serapion-black-200"
    [ngClass]="{ 'lg:hidden': !!(isHidden$ | async) }"
  >
    <app-places></app-places>
  </div>
  <!-- PLACES END -->

  <!-- ORDERS -->
  <div
    class="flex-auto lg:w-2/3 bg-serapion-white flex flex-col overflow-x-hidden overflow-y-auto dark:bg-serapion-black-200"
  >
    <app-orders></app-orders>
  </div>
  <!-- ORDERS END -->
</div>
<!-- WRAPPER END -->
