<div
  class="z-50 fixed inset-0 flex justify-center items-center"
  *ngIf="showModal"
>
  <div class="relative mx-auto w-1/2 max-w-2xl">
    <div
      class="bg-serapion-white rounded-md p-8 shadow-lg flex flex-col dark:bg-serapion-black-200"
    >
      <div class="text-lg font-thin uppercase">
        {{ place ? "Edit " + place.name : "New Restaurant" }}
      </div>
      <form class="pt-4" [formGroup]="placeForm" (ngSubmit)="onSubmit()">
        <div class="w-full">
          <div
            class="text-xs text-serapion-purple pb-2"
            *ngIf="name.invalid && (name.dirty || name.touched)"
          >
            <p *ngIf="name.errors?.['required']">
              <span class="font-semibold">*</span>
              Name is required!
            </p>

            <p *ngIf="name.errors?.['minlength']">
              <span class="font-semibold">*</span>
              Name must be at least 4 characters long.
            </p>

            <p *ngIf="name.errors?.['maxlength']">
              <span class="font-semibold">*</span>
              Name must be less than 140 characters.
            </p>
          </div>
          <div
            class="flex items-center rounded border border-serapion-grey-100 text-serapion-grey-200 dark:text-serapion-white"
          >
            <label
              for="name"
              class="w-8 text-right text-serapion-grey-100 mr-6"
            >
              <i class="fas fa-md fa-store"></i>
            </label>
            <input
              type="text"
              id="name"
              placeholder="e.g. Mozaik"
              autocomplete="off"
              name="name"
              formControlName="name"
              class="flex-1 p-2 pl-0 text-md bg-transparent border-0 placeholder-serapion-grey-100 focus:ring-0"
            />
          </div>
        </div>

        <div class="w-full mt-8">
          <div
            class="text-xs text-serapion-purple pb-2"
            *ngIf="menu.errors?.['pattern'] && (menu.dirty || menu.touched)"
          >
            <span class="font-semibold">*</span> URL is invalid!
          </div>
          <div
            class="flex items-center rounded border border-serapion-grey-100 text-serapion-grey-200 dark:text-serapion-white"
          >
            <label
              for="menu"
              class="w-8 text-right mr-6 text-serapion-grey-100"
            >
              <i class="fas fa-md fa-globe"></i>
            </label>
            <input
              type="text"
              id="menu"
              placeholder="e.g. https://www.google.com/"
              autocomplete="off"
              name="menu"
              formControlName="menu"
              class="select-all flex-1 p-2 pl-0 text-md bg-transparent border-0 placeholder-serapion-grey-100 focus:ring-0"
            />
          </div>
        </div>

        <div class="w-full mt-8">
          <div
            class="text-xs text-serapion-purple pb-2"
            *ngIf="phone.errors?.['pattern'] && (phone.dirty || phone.touched)"
          >
            <span class="font-semibold">*</span> Phone number is invalid!
          </div>
          <div
            class="flex items-center rounded border border-serapion-grey-100 text-serapion-grey-200 dark:text-serapion-white"
          >
            <label
              for="phone"
              class="w-8 text-right mr-6 text-serapion-grey-100"
            >
              <i class="fas fa-md fa-phone"></i>
            </label>
            <input
              type="text"
              id="phone"
              placeholder="e.g. 062 225 883"
              autocomplete="off"
              name="phone"
              formControlName="phone"
              class="select-all flex-1 p-2 pl-0 text-md bg-transparent border-0 placeholder-serapion-grey-100 focus:ring-0"
            />
          </div>
        </div>

        <div class="pt-8 flex flex-row-reverse justify-between items-center">
          <button
            class="btn w-1/2 ml-1"
            [ngClass]="{
              'btn-primary': !placeForm.invalid,
              'btn-disabled': placeForm.invalid
            }"
            type="submit"
            [disabled]="placeForm.invalid"
          >
            <i class="fas fa-check pr-1"></i> {{ place ? "Save" : "Add" }}
          </button>
          <button
            type="button"
            class="btn btn-secondary w-1/2"
            (click)="closeModal()"
          >
            <i class="fas fa-times pr-1"></i> Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="absolute backdrop-filter backdrop-blur-lg z-40 inset-0 bg-opacity-10 bg-serapion-blue-300"
  *ngIf="showModal"
></div>
