<!-- COMMENTS -->
<div class="mt-4 flex flex-col text-xs h-40 overflow-y-auto">
  <div
    *ngFor="let message of messages"
    class="border-l-4 pl-2 py-2 border-serapion-blue-300"
    [ngClass]="{ 'border-serapion-green': isCurrentUser(message.user) }"
  >
    <strong class="font-semibold" *ngIf="message.user">
      {{
        isCurrentUser(message.user)
          ? "@Me"
          : "@" + message.user.firstName + " " + message.user.lastName
      }}
    </strong>
    <p class="pt-2">
      {{ message.comment }}
    </p>
  </div>
</div>
<!-- COMMENTS END -->

<!-- COMMENTS INPUT -->
<div class="pt-4 flex flex-row justify-between items-center">
  <form
    class="flex group relative text-serapion-grey-100 text-xs flex-1"
    (ngSubmit)="onAddComment(f)"
    #f="ngForm"
  >
    <span
      class="absolute top-1/2 -mt-2 group-focus-within:text-serapion-blue-300"
    >
      <i class="fas fa-comments"></i>
    </span>
    <input
      class="flex-1 bg-serapion-white pl-6 py-2 border-b border-serapion-grey-100 focus:outline-none focus:border-serapion-blue-300"
      type="text"
      placeholder="Comment..."
      ngModel
      name="comment"
      #comment="ngModel"
    />
    <button class="flex-none btn btn-primary ml-4" type="submit">
      <i class="fas fa-paper-plane fa-xs pr-1"></i>
      Send
    </button>
  </form>
</div>
<!-- COMMENTS INPUT END -->
