<!-- COMMENTS -->
<div
  class="mt-8 py-4 border-t border-opacity-25 border-serapion-grey-100 border-dashed"
>
  <span class="text-xs font-thin uppercase text-serapion-grey-100">
    Comments
  </span>
</div>

<div
  class="pb-4 flex flex-col text-xs h-40 overflow-y-scroll space-y-4"
  #commentBox
>
  <div
    class="flex flex-row justify-start items-start space-x-4"
    *ngFor="let message of messages"
  >
    <div class="mt-2">
      <img
        class="w-6 h-6 rounded-full"
        src="{{ message.user?.photo }}"
        alt="{{
          message.user!.firstName +
            ' ' +
            message.user!.lastName +
            ' Profile Picture'
        }}"
        title="{{ message.user!.firstName + ' ' + message.user!.lastName }}"
        referrerpolicy="no-referrer"
      />
    </div>
    <div class="flex-1 flex flex-col justify-start items-start space-y-1">
      <strong
        class="font-normal text-xs text-serapion-grey-100"
        *ngIf="message.user"
      >
        {{ isMessageOwner(message) ? "You," : message.user.firstName + "," }}
        {{ message.commentedOn | date: "shortTime" }}
      </strong>
      <div
        class="flex flex-row justify-between items-center mr-36 xl:mr-24 space-x-2"
      >
        <p
          class="bg-serapion-blue-100 rounded-lg p-4 pt-2 pl-2 dark:bg-serapion-black-100"
          [ngClass]="{
            'bg-serapion': isCurrentUser(message.user)
          }"
        >
          {{ message.comment }}
        </p>
        <i
          *ngIf="
            isMessageOwner(message) && order?.status === orderStatus.ACTIVE
          "
          class="fas fa-sm fa-trash text-serapion-grey-100 hover:text-serapion-grey-200 transition-all duration-300 dark:hover:text-serapion-white cursor-pointer"
          (click)="handleDeleteMessage(message)"
        ></i>
      </div>
    </div>
  </div>

  <!-- <div
    *ngFor="let message of messages"
    class="border-l-4 pl-2 py-2 border-serapion-blue-300"
    [ngClass]="{ 'border-serapion-purple': isCurrentUser(message.user) }"
  >
    <strong class="font-semibold" *ngIf="message.user">
      {{
        isCurrentUser(message.user)
          ? "@Me"
          : "@" + message.user.firstName + " " + message.user.lastName
      }}
    </strong>
    <p class="pt-2">
      {{ message.comment }}
    </p>
  </div> -->
</div>
<!-- COMMENTS END -->

<!-- COMMENTS INPUT -->
<div class="pt-4 flex flex-row justify-between items-center">
  <form
    class="flex flex-col lg:flex-row group relative text-serapion-grey-100 justify-between text-xs flex-1"
    [formGroup]="commentForm"
    (ngSubmit)="onAddComment()"
  >
    <div class="flex-1 w-full lg:w-2/4 mr-2">
      <div
        class="flex items-center rounded border border-serapion-grey-100 text-serapion-grey-200 dark:text-serapion-white"
      >
        <label
          for="comment-{{ order?.id }}"
          class="w-6 text-right mr-4 text-serapion-grey-100 cursor-pointer"
        >
          <i class="fas fa-xs fa-comment"></i>
        </label>
        <input
          type="text"
          id="comment-{{ order?.id }}"
          placeholder="Your comment, try typing @..."
          autocomplete="off"
          name="comment"
          formControlName="comment"
          class="mentions flex-1 p-2 pl-0 text-xs bg-transparent border-0 placeholder-serapion-grey-100 focus:ring-0"
          (itemSelected)="onItemSelected($event, order!.id)"
          [mention]="(users$ | async)!"
          [mentionConfig]="{ labelKey: 'firstName', dropUp: true }"
          [mentionListTemplate]="mentionListTemplate"
          [attr.disabled]="order?.status === orderStatus.INACTIVE ? '' : null"
        />
      </div>
    </div>
    <div class="w-full py-2 pt-4 lg:w-max lg:py-0">
      <button
        class="btn btn-primary w-full"
        [ngClass]="{
          'btn-primary':
            !commentForm.invalid && order?.status === orderStatus.ACTIVE,
          'btn-disabled':
            commentForm.invalid || order?.status === orderStatus.INACTIVE
        }"
        [disabled]="
          commentForm.invalid || order?.status === orderStatus.INACTIVE
        "
        type="submit"
      >
        <i class="fas fa-paper-plane fa-xs pr-1"></i>
        Send
      </button>
    </div>
  </form>
</div>
<!-- COMMENTS INPUT END -->

<ng-template #mentionListTemplate let-item="item">
  <div class="flex flex-row justify-start items-center space-x-2 py-1">
    <img
      class="rounded-full w-6 h-6"
      [ngClass]="{ 'opacity-0': item.photo === undefined }"
      src="{{ item.photo }}"
      alt=""
    />
    <span>{{ item.firstName }}</span>
  </div>
</ng-template>
